.idea
.pytest_cache
dist
__pycache__/
/TAGS
/.coverage
/.lint.json
/.lint.txt
/.html-documentation/
/.security.json
.build_output
# drawio backup files
/doc/user_guide/*.bkp
.workspace
# actual screenshots created by solara if different from expected in folder `ui_screenshots/`.
/test-results