name: Merge-Gate

on:
  workflow_call:

jobs:

  fast-checks:
    name: Fast
    uses: ./.github/workflows/checks.yml
    permissions:
      contents: read

  run-slow-tests:
    name: Run Slow Tests?
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    # Even though the environment "manual-approval" will be created automatically,
    # it still needs to be configured to require interactive review.
    # See project settings on GitHub (Settings / Environments / manual-approval).
    environment: manual-approval
    steps:
      - name: Tests
        run: echo "Slow tests approved"


  ordinary-itests:
    name: Ordinary iTests
    needs: [ run-slow-tests ]
    uses: ./.github/workflows/tests-ordinary-integration.yml
    permissions:
      contents: read

  saas-tests:
    name: SaaS
    needs: [ run-slow-tests ]
    uses: ./.github/workflows/tests-saas.yml
    secrets: inherit
    permissions:
      contents: read

  large-runner-tests:
    name: Large Runner
    needs: [ run-slow-tests ]
    uses: ./.github/workflows/tests-large-runner.yml
    permissions:
      contents: read

  gpu-tests:
    name: GPU
    needs: [ run-slow-tests ]
    uses: ./.github/workflows/tests-gpu.yml
    permissions:
      contents: read

  ui-tests:
    name: GPU
    needs: [ run-slow-tests ]
    uses: ./.github/workflows/tests-ui.yml
    permissions:
      contents: read

  # This job ensures inputs have been executed successfully.
  approve-merge:
    name: Allow Merge
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    # If you need additional jobs to be part of the merge gate, add them below
    # Removed saas-tests from being required
    needs: [ fast-checks, large-runner-tests, ordinary-itests, gpu-tests, ui-tests ]

    # Each job requires a step, so we added this dummy step.
    steps:
      - name: Approve
        run: |
          echo "Merge Approved"
